{% extends 'base.html' %}
{% block title %}
    about
{% endblock title %}
{% block body %}
    <div class="container">
        <h1 class="my-3">About</h1>
        <pre class="my-3">
            As a student, making a study timetable will give you an effective time management strategy and allow you to succeed at
            uni. By following the 6 simple steps below you will have the tools to make the perfect study timetable.
            
            What is a Study Timetable, and Why Does it Matter?
            Most university students know what a study timetable is, but a lot don’t understand how beneficial it can truly be. A
            study timetable is a structured schedule that allows you to plan out your study times, classes as well as the
            necessities in life—eating, sleeping, exercising and hanging out with your friends at Urbanest.
            
            Studying is an essential part of academic success. As the old saying goes…
            
            “Failing to prepare….you’re preparing to fail”
            
            By making a study timetable, you will be preparing for success in your studies. Using a study timetable also enables you
            to visualize what you’ve got in your schedule for the day and across the week. Most importantly, preparing a study
            timetable will ensure that you don’t forget any upcoming exams or assessments.
            
            Living at Urbanest and studying at university in Australia gives you complete freedom to take control of your learning.
            By taking the time to prepare your study timetable for the upcoming week will allow you to:
            
            Establish an effective study routine.
            Prepare your study sessions appropriately.
            Set achievable study goals.
            Be accountable for your deadlines.
            Maintain a work-life balance.
            Complete your assignments on time.
            Reduce stress and last-minute panic.
            Steps to Make the Perfect Study Timetable
            Step 1: Check your current schedule
            Assess your current class schedule and how you currently spend your time.
            
            The amount of contact hours (the scheduled hours of instruction), your degree requires will vary depending on your field
            of study. Some courses may have more contact hours, such as additional labs or practical components, whilst others will
            have fewer contact hours but may require more pre-reading in preparation for tutorials.
            
            When assessing your current schedule you should:
            
            Determine how many hours a week you currently study (include contact and non-contact hours).
            Evaluate how many hours a week you currently apply to entertainment (for example include sports and social commitments).
            Do some quick math to see what you could cut from your schedule. A lot of students tend to find they spend a lot of time
            on entertainment, you can start there (but still ensure to schedule in some down time!).
            Step 2: Set your academic goal
            Setting an academic goal will allow you to be accountable for every action you take throughout the semester.
            Importantly, this will draw your attention to the effort required to achieve the goal you set for yourself.
            
            To set your academic goal:
            
            Write down a specific, measurable and achievable goal. For example: “I will obtain a high distinction average for
            Semester one”.
            Complete your goal by committing to the number of hours you will dedicate to studying to achieve that goal. Now,
            complete your goal: “I will achieve a high distinction average for Semester one by dedicating [#] hours of study to each
            subject per week.”
            Step 3: List deadlines and commitments
            Before you begin filling out your study timetable, it’s essential you write out a list of deadlines and social events
            you have coming up. Be it, feedback on your group assignment, your weekly soccer game or your best friends 21st
            birthday, make sure you list everything. Listing out everything will allow you to schedule your study at the most
            effective time and help you to maintain your other commitments.
            
            
            Step 4: Prioritise your list
            To keep your academic goal front of mind—the next step is to prioritise your list.
            
            Use a rating scale of 1-5, where 1 is ‘not at all important” and 5 is “very important” to rank your commitments and
            deadlines. Note down the rating next to each deadline and commitment you have listed.
            
            It’s very important to be realistic. For example, if your taking a new subject like ‘Physics’ for the first time and
            it’s not your strong suit, you may need to dedicate more time to this subject.
            
            Step 5: Decide on a format
            A physical paper study timetable hung at your desk won’t go unnoticed, but a digital study timetable can be accessible
            from all devices. Choose the format that you are more comfortable with and know in your heart that you will use the
            most!
            
            If you would prefer a physical timetable, print out the weekly template we have created for you. Be sure to add your
            academic goal to the top of the timetable, so it is always front of mind.
            
            Step 6: Schedule in your classes, study sessions and commitments
            Now it’s time to schedule in your classes, social commitments and deadlines into your study timetable. By doing this —
            you will be able to see where your study sessions can fit. Don’t forget to block-out time for eating, sleeping and allow
            provisions for travel time. This is where it is handy to be a resident at any of our conveniently located Urbanest
            locations!
            
            According to our partner Monash University, the most effective way to create a study routine is to schedule in your
            study time at the same time every day—soon enough you will build a consistent study routine. Generally studying in
            1-hour blocks with a ten-minute break is the most effective way. However, shorter periods of study from 20-40 minutes
            are great for reviewing assignments and creating notes.
            
            Don’t be deterred if you find that your timetable fills up quickly with classes, social commitments and deadlines,
            leaving you with only minimal time left to study. The solution is to refer back to your priority list to see if there is
            anything you can cut out to make room for the required time for study. Alternatively, you can try to re-gig your
            timetable to allow more time for study, for example scheduling blocks of time in same locations near to each other to
            reduce unnecessary travel time.
            
            Always keep your academic goal front of mind—knowing that your commitment to study will help you to achieve your goal.
            
            
            Our top 5 tips for making the perfect study timetable
            Always keep your academic goal front of mind.
            Remember to schedule time each week to make your weekly study timetable.
            Keep your timetable in a place that you will see or access every day.
            Be consistent with your study and follow your schedule.
            Don’t overload yourself. Do remember to schedule down time to avoid burn out!
            At the end of the day, the most effective study timetable is the one that works for you. If that means including,
            meditation breaks, group chats about topics over Ramen Noodles or 3 half-hour sessions every day that’s totally fine! To
            make the perfect study timetable it must be right for you. Be consistent and you might be surprised how much easier it
            is to achieve your academic goals!
            
            
            Good luck from everyone at Urbanest!
            
            Are you ready to make your study schedule now?
            
            Download our printable study timetable and start scheduling in your classes, social commitments and study sessions
            today!
            
            If you looking for more study tips check out our blog post on how to motivate yourself to study.
        </pre>
    </div>
{% endblock body %}